<div class="interactive-container">
    <!-- <div id="outer-wrapper" class="showcase"> -->
            

                <div class='figureTitle' id="chartTitle"></div>
                <div class='subTitle' id="subTitle"></div>
                <div class='notes' id='chartKey'></div>
                <!-- <div class="buttons" id="buttons"></div> -->
            <div class="row">    
                <div class="selectorBox col50">

                    <div class="keyText">Currently showing</div>
                    <select class="countryChooser">
                    </select>
                   


                </div>
                <div class="keyBox col50">

                    <div id="keyContainer"></div>

                </div>

            </div>

            <div class="row borderBottom chartSans" id="graphicContainer">	
            
            </div>
            
            <div class='footer offset'>
                <div id="footerAnnotations">

                </div>	
                
                <span id="footnote"></span> Guardian graphic <span id="sourceText"></span>
            </div>	
            
    <!-- </div> -->
</div>